{{ define "main" }}
<article class="markdown book-article">
  <h1>{{ .Title }}</h1>
  <div class="book-tags-index">
    {{ range .Data.Terms.Alphabetical }}
    <div class="book-tag-row">
      <a href="{{ .Page.RelPermalink }}" class="book-badge default">
        <span class="book-badge-value">{{ .Page.Title }}</span>
      </a>
      <span class="book-tag-count">{{ .Count }}{{ if eq .Count 1 }} note{{ else }} notes{{ end }}</span>
    </div>
    {{ end }}
  </div>
</article>
{{ end }}

{{ define "toc-container" }}
{{ end }}
